<!DOCTYPE html>
<html>
<head>
  <title>Globetrotters</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places"></script>
  <!-- Render on location list page: form  -->
  <%= render 'welcome/user_locations_list_template' %>
  <!-- Render on location list page: bar chart  -->
  <%= render 'welcome/most_popular_destination_template' %>
  <!-- Render on profile page: travel agenda  -->
  <%= render 'welcome/travel_agenda_1_template' %>
  <%= render 'welcome/travel_agenda_2_template' %>
  <!-- Render on profile page: list of travel agenda  -->
  <%= render 'welcome/profile_link_template' %>
  <!-- Render on profile page: list of stories  -->
  <%= render 'welcome/story_list_1_template' %>
  <%= render 'welcome/story_list_2_template' %>
  <!-- Render on profile page: other users  -->
  <%= render 'welcome/other_users_template' %>
  <!-- Render on profile page: user profile pic  -->
  <%= render 'welcome/profile_pic_template' %>
  <!-- Render on story page: story edit form  -->
  <%= render 'welcome/story_detail_template' %>
  <!-- Render on agenda page: agenda edit form  -->
  <%= render 'welcome/agenda_detail_template' %>
  <!--Render on location list page: google map -->
  
  <script>
    var map;
    function initialize() {
      var mapOptions = {
        zoom: 2,
        center: new google.maps.LatLng(0, 0)
      };
      map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
    }
    google.maps.event.addDomListener(window, 'load', initialize);
  </script>

  <!-- Add on location list page: google place autocomplete -->
  <script>
  var placeSearch, autocomplete;
  function initialize() {
    // Create the autocomplete object, restricting the search
    // to geographical location types.
    autocomplete = new google.maps.places.Autocomplete(
        /** @type {HTMLInputElement} */(document.getElementById('autocomplete')),
        { types: ['geocode'] });
    }
  function geolocate() {
    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(function(position) {
        var geolocation = new google.maps.LatLng(
            position.coords.latitude, position.coords.longitude);
        var circle = new google.maps.Circle({
          center: geolocation,
          radius: position.coords.accuracy
        });
        autocomplete.setBounds(circle.getBounds());
      });
    }
  }
  </script>
  
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => false %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
  <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
  <script src="http://malsup.github.com/jquery.cycle2.js"></script>
  <%= csrf_meta_tags %>
</head>

<body onload="initialize()">
    <%= render "navbar_template" %>
    <%= yield %>

</body>
</html>
