<!DOCTYPE html>
<html>
<head>
  <title>Globetrotters</title>
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
  <meta charset="utf-8">
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => false %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
  <%= csrf_meta_tags %>
  <script src="http://malsup.github.com/jquery.cycle2.js"></script>
</head>
<body onload="initialize()">
  <nav>
    <div class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">THE GLOBETROTTERS</a>
        </div>
        <div>
          <ul class="nav navbar-nav navbar-right">
            <%= render partial: current_user ? "/shared/user_nav" : "/shared/non_user_nav" %>
          </ul>
      </div>
     </div>
    </div>
   </nav> 
<%= yield %>

</body>
</html>
