<!DOCTYPE html>
<html>
<head>
  <title>Globetrotters</title>
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
  <meta charset="utf-8">
  <!-- Render on location list page: form  -->
  <script type="template" id="user-location-list-template">
      <%= render 'welcome/user_locations_list_template' %>
  </script>
 <!-- Render on location list page: bar chart  -->
  <script type="template" id="most-popular-template">
      <%= render 'welcome/most_popular_destination_template' %>
  </script>
  <!--Render on location list page: google map -->
  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places"></script>
  <script>
    var map;
    function initialize() {
      var mapOptions = {
        zoom: 2,
        center: new google.maps.LatLng(0, 0)
      };
      map = new google.maps.Map(document.getElementById('map-canvas'),
          mapOptions);
    }
    google.maps.event.addDomListener(window, 'load', initialize);
  </script>
  <!-- Add on location list page: google place autocomplete -->
  <script>
  var placeSearch, autocomplete;
  function initialize() {
    // Create the autocomplete object, restricting the search
    // to geographical location types.
    autocomplete = new google.maps.places.Autocomplete(
        /** @type {HTMLInputElement} */(document.getElementById('autocomplete')),
        { types: ['geocode'] });
  }
  function geolocate() {
    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(function(position) {
        var geolocation = new google.maps.LatLng(
            position.coords.latitude, position.coords.longitude);
        var circle = new google.maps.Circle({
          center: geolocation,
          radius: position.coords.accuracy
        });
        autocomplete.setBounds(circle.getBounds());
      });
    }
  }
  </script>
  <!-- Render on profile page: travel agenda  --> 
  <script type="template" id="travel-agenda-list-1-template">
    <%= render 'welcome/travel_agenda_1_template' %>
  </script>
  <script type="template" id="travel-agenda-list-2-template">
      <%= render 'welcome/travel_agenda_2_template' %>
  </script>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => false %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
  <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
  <script src="http://malsup.github.com/jquery.cycle2.js"></script>
  <%= csrf_meta_tags %>
</head>
<body onload="initialize()">
  <nav>
    <div class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">THE GLOBETROTTERS</a>
        </div>
        <div>
          <ul class="nav navbar-nav navbar-right">
            <%= render partial: current_user ? "/shared/user_nav" : "/shared/non_user_nav" %>
          </ul>
      </div>
     </div>
    </div>
   </nav>
<%= yield %>

</body>
</html>
